/ClassVsInstance/bin/Debug
/ClassVsInstance/obj/Debug
/DataTypes/bin/Debug
/DataTypes/obj/Debug
/DiagonalDifference/bin/Debug
/HelloWord/Solution/bin/Debug
/HelloWord/Solution/obj/Debug
/DiagonalDifference/obj/Debug
/HelloWord/ConsoleApplication1/bin/Debug
/HelloWord/ConsoleApplication1/obj/Debug
/IntroToConditionalStatements/bin/Debug
/IntroToConditionalStatements/obj/Debug
/Loops/bin/Debug
/Operators/bin/Debug
/Loops/obj/Debug
/Operators/obj/Debug
/LetsReview/bin/Debug
/LetsReview/obj/Debug
/Arrays/bin/Debug
/Arrays/obj/Debug
/DictionariesAndMaps/bin/Debug
/DictionariesAndMaps/obj/Debug
